[submodule "Jason3_Scripte/Bluetooth-Manager"]
	path = Jason3_Scripte/Bluetooth-Manager
	url = https://github.com/Jason3x/Bluetooth-Manager.git
[submodule "Jason3_Scripte/GhostLoader"]
	path = Jason3_Scripte/GhostLoader
	url = https://github.com/Jason3x/GhostLoader.git
[submodule "Jason3_Scripte/InfoSystem"]
	path = Jason3_Scripte/InfoSystem
	url = https://github.com/Jason3x/InfoSystem.git
[submodule "Jason3_Scripte/wifi-toggle"]
	path = Jason3_Scripte/wifi-toggle
	url = https://github.com/Jason3x/wifi-toggle.git
